{% ckan_extends %}

{% block footer_content %}
  <div class="row">
    <div class="span3">
      {% trans %}<strong>Hlavní navigace</strong>{% endtrans %}
      <ul class="unstyled indent">
        <li>{% trans %}<a href="/">NKOD</a>{% endtrans %}</li>
        <li>{% trans %}<a href="http://opendata.gov.cz">Aktuality</a>{% endtrans %}</li>
        <li>{% trans %}<a href="/dataset">Seznam datových sad</a>{% endtrans %}</li>
        <li>{% trans %}<a href="/organization">Seznam organizací</a>{% endtrans %}</li>
        <li>{% trans %}<a href="">Prohlášení o přístupnosti</a>{% endtrans %}</li>
      </ul>
      <div class="attribution">
          {% trans %}<strong>Vyžívá</strong>{% endtrans %}
          <div class="indent">
            <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
          </div>
      </div>
      <div class="attribution">
        <strong>Podpořeno</strong>
        <div class="indent">
          <img src="/ckanext_cz_nkod/images/ozp_logo_en.jpg"/>
        </div>
      </div>
    </div>
    <div class="span3">
      {% trans %}<strong>Pro poskytovatele dat</strong>{% endtrans %}
      <ul class="unstyled indent">
        <li>{% trans %}<a href="https://portal.gov.cz/webfiller/FormService/Filler.Open?name=nkod.fo">Registrace datové sady</a>{% endtrans %}</li>
        <li>{% trans %}<a href="https://portal.gov.cz/webfiller/FormService/Filler.Open?name=nkod.fo">Registrace lokálního katalogu</a>{% endtrans %}</li>
      </ul>
      {% trans %}<strong>Pro uživatele dat</strong>{% endtrans %}
      <ul class="unstyled indent">
        <li>{% trans %}<a href="http://portal.gov.cz/portal/rejstriky/data/97898/indexH.html">Rozšířené vyhledávání</a>{% endtrans %}</li>
        <li>{% trans %}<a href="https://docs.google.com/forms/d/e/1FAIpQLSdUaVaCITtmHdTGxsU5xPvdzIygOA7wHHaotPRPAbglCF3mpw/viewform?embedded=true">Navrhnout datovou sadu</a>{% endtrans %}</li>
        <li>{% trans %}<a href="http://linked.opendata.cz/dumps/nkod.trig.gz">API</a>{% endtrans %}</li>
      </ul>
    </div>
    <div class="span3">
      <strong>{% trans %}<a href="http://opendata.gov.cz/">Standardy</a>{% endtrans %}</strong>
      <ul class="unstyled indent">
        <li>{% trans %}<a href="http://opendata.gov.cz/standardy:start/">Doporučené postupy</a>{% endtrans %}</li>
        <li>{% trans %}<a href="http://opendata.gov.cz/vzor:start/">Publikační plány</a>{% endtrans %}</li>
        <li>{% trans %}<a href="http://opendata.gov.cz/nastroj:start/">Nástroje</a>{% endtrans %}</li>
      </ul>
    </div>
    <div class="span3">
      <strong>{% trans %}Kontakty{% endtrans %}</strong>
      <div>
        <ul class="unstyled indent">
          <li>{% trans %}Kontaktní osoba: {% endtrans %}<a href="mailto:michal.kuban@mvcr.cz">Michal Kubáň</a></li>
          <li>{% trans %}Email: {% endtrans %}<a href="mailto:michal.kuban@mvcr.cz">michal.kuban@mvcr.cz</a></li>
          <li>{% trans %}Telefon: {% endtrans %}+420 974 816 395</li>
          <li>{% trans %}<a href="http://www.mvcr.cz/">Ministerstvo vnitra České republiky</a>{% endtrans %}</li>
        </ul>
      </div>
      <br/>
      {% block footer_lang %}
        {% snippet "snippets/language_selector.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

